.faq-container
	margin-bottom 20px
	
.faq-trigger
	transition box-shadow 0.5s
	margin-bottom 10px
	&:hover
		box-shadow 0 2px 5px rgba(0, 0, 0, 0.2)
				
.o-accordion
	position relative 
	background-color #fff
	color indigo
	cursor pointer
	padding 18px 30px 18px 18px
	width 100%
	border none
	text-align left
	outline none
	font-size 18px
	transition 0.4s
	font-weight bold
	&:after 
		content '\002B'
		color indigo
		absolute right 10px bottom 10px
		font-weight bold

.o-accordion.active:after 
	content: "\2212"

.o-panel 
	background-color #fff
	padding 0 15px
	max-height 0
	overflow hidden
	transition max-height 0.2s ease-out