.news-show-container
	padding-bottom 0
.news-show-primary
	.x-related-item	
		width 49.7%
		margin-bottom 6px
		.x-related-caption 
			padding 5px 10px
		h4
			font-weight bold
			transition 0.25s
		span
			margin-right 10px
			.fa 
				margin-right 5px
		.descript
			margin-top 5px
		&:hover
			.x-related-caption
				color black
			h4
				color boycoy
		
				
	.x-related-primary 
		margin-bottom 30px

//------------------------
.home-series-game
	margin-bottom 30px
.home-news-show-container
	.x-related-primary
		> *
			width 24.8%	
			
//----------------------------- HOME PAGE
					
					
					
		