.news-container {
  padding: 20px 0 0;
}
.news-primary {
  margin-bottom: 5px;
}
.news-content {
  background-color: bg-box;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.page-header {
  border-bottom: 3px solid dteal;
  margin-top: 0px;
}
.news-title {
  color: dteal;
  font-weight: bold;
  margin: 0;
}
.news-meta {
  margin-bottom: 5px;
  color: lighttext;
}
.news-meta .fa {
  margin-right: 5px;
}
.news-meta span {
  margin-right: 10px;
}
.page-content * {
  color: lighttext;
}
.page-content .o-embed {
  margin-bottom: 12px;
}
.news-share .fa {
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
