section.feature-slick
  .feature-slick-content.container
    .feature-slick-container
      a(href='#').x-feature-item-a
        .x-feature-content
          img(src='http://playwares.com/files/attach/images/63433/335/738/014/8226620100821_044344_5_big.jpg')
          .x-feature-caption
            .x-feature-title 
              h2.light-text More Free Xbox One And Xbox 360 Games Now Available
              span
                i.fa.fa-user  
                | Mr.D
              span
                i.fa.fa-calendar  
                | 3/2/2018

      a(href='#').x-feature-item-b
        .x-feature-content
          img(src='http://gamebomb.ru/files/galleries/001/f/f7/225564.jpg')
          .x-feature-caption
            .x-feature-title 
              h3.light-text Call Of Duty: WW2 Has Female Soldiers In Multiplayer
              span
                i.fa.fa-user  
                | Mr.D
              span
                i.fa.fa-calendar  
                | 3/2/2018
      
      a(href='#').x-feature-item-c
        .x-feature-content
          img(src='https://static.gamespot.com/uploads/original/1503/15036700/3200281-7126030980-ac1_s.jpg')
          .x-feature-caption
            .x-feature-title 
              h3.light-text Assassin's Creed creator offers candid take on blockbuster game development 
              span
                i.fa.fa-user  
                | Mr.D
              span
                i.fa.fa-calendar  
                | 3/2/2018