.clear-fix

footer
	section.footer-content.container
		.col-xs-12.col-lg-4
			h3 Contact us
			p Phone: 911
			p Email: admin@fedgame.com
			p Skype: fedgame.no1
			h3 Total views
			p 999999999999
			h3 Online
			p 1000
		.col-xs-12.col-lg-4
			h3 About us
			p Entrepreneur pitch deck human-centered design Steve Jobs grok paradigm thought leader intuitive earned media pitch deck. Viral engaging paradigm earned media waterfall is so 2000 and late bootstrapping moleskine innovate.
			p Waterfall is so 2000 and late viral physical computing pitch deck grok pivot unicorn integrate 360 campaign driven bootstrapping
		.col-xs-12.col-lg-4.x-google-ads
			.x-widget-primary
				a(href='#').x-widget-item
				.x-widget-content(style="background-color:#141c1f; padding: 10px; width: 100%")
					img(src='http://planetshine.net/demo/goodgame/wp-content/themes/planetshine-goodgame/theme/assets/images/banner-300x300.jpg')
		
	section.copyrights
		.copyrights-left.col-xs-12.col-lg-6 Copyrights © 2018 All Rights Reserved by Fedgame Inc.
		.copyrights-right.col-xs-12.col-lg-6
			i.fa.fa-facebook-f
			i.fa.fa-youtube-play
			i.fa.fa-google-plus

a#back-to-top.btn.btn-primary.btn-lg
	i.fa.fa-angle-up
		//(role="button" title="Back to Top" data-toggle="tooltip" data-placement="left")