.modal.fade#GoogleDrive(role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal") &times
        h4.modal-title GoogleDrive
      .modal-body
        p This is a large modal.
      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Close

.modal.fade#OneDrive(role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal") &times
        h4.modal-title OneDrive
      .modal-body
        p This is a large modal.
      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Close

.modal.fade#OneCloud(role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal") &times
        h4.modal-title OneCloud
      .modal-body
        p This is a large modal.
      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Close

.modal.fade#SystemR(role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal") &times
        h4.modal-title System requirements
      .modal-body(style="min-height: 200px; max-height: 500px; overflow-y: scroll;")
        strong MINIMUM:
        hr
        p
          strong OS: 
          | Windows 7 /8.1 /10 64bit
        p
          strong Processor: 
          | Intel Core i3 2100 or AMD A8-6500
        p
          strong Memory: 
          | 4 GB RAM
        p
          strong Graphics: 
          | NVIDIA GeForce GTX 770 VRAM 2GB or AMD Radeon R9 270X VRAM 2GB
        p
          strong DirectX: 
          | Version 11
        p
          strong Network: 
          | Broadband Internet connection
        p
          strong Storage: 
          | 50 GB available space
        p
          strong Sound Card: 
          | DirectX® 11 supported
        p
          strong Additional Notes: 
          | Mouse, keyboard and game pad (XInput only). Screen resolution: 1280x720. This product only supports MS-IME keyboard input. There is a possibility that other IME will not function correctly with it.
        strong RECOMMENDED:
        hr
        p 
          strong OS: 
          | Windows 8.1 /10 64bit
        p 
          strong Processor: 
          | Intel Core i5 4670 or AMD A10-7850K
        p 
          strong Memory: 
          | 8 GB RAM
        p 
          strong Graphics: 
          | NVIDIA GeForce GTX 980 VRAM 4GB or AMD Radeon R9 380X VRAM 4GB
        p 
          strong DirectX: 
          | Version 11
        p 
          strong Network: 
          | Broadband Internet connection
        p 
          strong Storage: 
          | 50 GB available space
        p 
          strong Sound Card: 
          | DirectX® 11 supported
        p 
          strong Additional Notes: 
          | Mouse, keyboard and game pad (XInput only). Screen resolution: 1920x1080. Depending on the monitor and PC graphics card environment and setup used, this title can expand its display resolution to 4K. However, please be aware that 4K resolutions are not officially supported. This product only supports MS-IME keyboard input. There is a possibility that other IME will not function correctly with it.

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Close