head
    title FoxCoy | Homepage
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='theme-color' content='#1d272b')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    // TEXT FONT
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fredoka+One|PT+Sans|Permanent+Marker|Righteous|Questrial|Signika|Bree+Serif|Comfortaa|Orbitron|Aldrich')

    // SYMPOL
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' href='images/fox3.png' type='image/x-icon')
    
    // BOOTSTRAP
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")

    // // CSS
    link(href="css/style.css" rel="stylesheet")
    link(href="css/hover.css" rel="stylesheet")
    link(href="css/animate.css" rel="stylesheet")
    link(href="css/owl.carousel.min.css" rel="stylesheet")
    

    // JQUERY LIBRARY
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    // // Smooth Sroll Page   
    script(src='js/smoothscroll/SmoothScrolla.js')
    
    // // Owl Carousel
    script(src='js/owl.carousel.js')
    
    // // Circle Chart
    script(src='js/jquery.circlechart.js')
    
    //script(src='js/responsiveslides.min.js')
    //script(src='js/jquery.bxslider.js')
    //script(src='js/adb.js')
    //link(href="css/hp-slider.css" rel="stylesheet")
    //link(href="css/jquery.bxslider.css" rel="stylesheet")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js")