head
    title FoxCoy | Homepage
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='theme-color' content='#1d272b')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    // Text font
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Signika')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Questrial')

    // Symbol
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' href='images/fox3.png' type='image/x-icon')
    
    // bootstrap
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet")

    // JQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')

    script(src='js/owl.carousel.js')
    script(src='js/adb.js')

    // // Smooth Sroll Page   
    script(src='js/smoothscroll/SmoothScrollo.js')
    script(src="js/bootstrap.min.js")
    script(src="js/jquery.shuffle.min.js")
    script(src="js/custom.js")