nav.navbar.navbar-default.navbar-fixed-top
  .container.o-nav-menu
      
    .menu-toggle(data-toggle="collapse" data-target="#myNavbar")
      a(href="#")
        span.glyphicon.glyphicon-menu-hamburger

    .navbar-brand
      a(href="#")
        text(style="color: #f15d58") O 
        text(style="color: #3F51B5") ryzen
      
    .collapse.navbar-collapse#myNavbar
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") NEWS
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown" href="#") GAMES
            span.glyphicon.glyphicon-menu-down
          ul.dropdown-menu
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
            li.col-sm-4.col-md-3.col-lg-3
              a(href="https://www.linkneverdie.com/") Merchandise
        li
          a(href="#") FAQ
        li
          a(href="#") WHO

    .menu-search
      a(href="#" id="open-search")
        span.glyphicon.glyphicon-search
     
    .searchbar#searchbar
      form.searchbox(method="get" action="#")
        input(type="text" name="search" placeholder="Search...")
      a(href="#" class="close-search" id="close-search")
        span.glyphicon.glyphicon-remove
  