section.z-pagination 
  ul.text-center
    a(href='#')
      li â®
    a(href='#')
      li 1
    a(href='#')
      li 2
    a(href='#')
      li 3
    a(href='#')
      li 4
    a(href='#')
      li 5
    a(href='#')
      li â¯