section.portfolio
  .container
    .row
      ul.portfolio-items.list-unstyled#grid

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/03/Styx-Shards-of-Darkness-Denuvo-Crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption
                p Styx Shards of Darkness

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="http://localhost:3000/games-single.html")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/12/watch-dogs-2-crack.png" alt="Item 1")
                .btn.btn-readmore Read more  
              .caption 
                p Watch Dogs 2

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/03/Nier-Automata-Denuvo-Crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Nier Automata

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/01/tom-clancys-ghost-recon-wildlands-denuvo-crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Tom Clancy's Ghost Recon: Wildlands

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/11/Battlefield-1.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Battlefield 1

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/01/sniper-ghost-warrior-3-denuvo-crack-1.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption
                p Sniper Ghost Warrior 3

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/01/mass-effect-andromeda-denuvo-crack.png" alt="Item 1")
                .btn.btn-readmore Read more  
              .caption 
                p Mass Effect Andromeda

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/01/resident-evil-7-denuvo-crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Resident Evil 7

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/01/Tales-of-Berseria-Denuvo-Crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Tales of Berseria

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/11/Hitman.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Hitman

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/12/Shadow-Warrior-2-crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption
                p Shadow Warrior 2

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/11/Just-Cause-3.png" alt="Item 1")
                .btn.btn-readmore Read more  
              .caption 
                p Just Cause 3

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/11/Doom.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p DOOM

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2016/11/Mirrors-Edge-Catalyst.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Mirror's Edge Catalyst

        li.col-xs-6.col-sm-3.col-md-3.col-lg-3.x-item
          figure.portfolio-item
            a(href="#")
              .z-thumb
                img.img-responsive(src="https://crackwatch.com/wp-content/uploads/2017/01/the-division-denuvo-crack.png" alt="Item 1")
                .btn.btn-readmore Read more
              .caption 
                p Tom Clancy's The Division