section.sidebar-primary.col-xs-12.col-sm-12.col-md-4.col-lg-4
  .sidebar-primary-content 
    .x-title-bar 
      ul
        li.pa Upcoming games
    .x-widget-primary.x-upcoming-games
      a(href='#').x-widget-item(style="background-image: url(https://i.ytimg.com/vi/TKLx5rhpS2k/maxresdefault.jpg)")
        .x-widget-content 
          h1 Hello Neighbor
          p Coming Aug 29, 2017
          p PC, XONE
          
      a(href='#').x-widget-item(style="background-image: url(https://www.callofduty.com/content/dam/atvi/callofduty/wwii/home/Stronghold_Metadata_Image.jpg)")
        .x-widget-content
          h1 Call of Duty: WWII
          p Coming Nov 3, 2017
          p PC, XONE, PS4
          
      a(href='#').x-widget-item(style="background-image: url(http://compass.xbox.com/assets/96/6b/966baf34-e121-4173-a3d7-b7ff5475f880.jpg?n=D2_GLP-Page-Hero-1084_1920x600.jpg)")
        .x-widget-content
          h1 Destiny 2
          p Coming Sep 6, 2017
          p PC, XONE, PS4

      a(href='#').x-widget-item(style="background-image: url(http://zelda.com/breath-of-the-wild/assets/icons/BOTW-Share_icon.jpg)")
        .x-widget-content
          h1 The Legend of Zelda: Breath of the Wild
          p First Released Mar 3, 2017
          p WIIU, NS

      a(href='#').x-widget-item(style="background-image: url(http://cdn-static.denofgeek.com/sites/denofgeek/files/2017/01/red-dead-redemption-2-ps4_0.jpg)")
        .x-widget-content
          h1 Red Dead Redemption 2
          p Coming Q2 2018
          p PS4, XONE

      a(href='#').x-widget-item(style="background-image: url(http://www.fffcvn.net/wp-content/uploads/2017/03/maxresdefault.jpg)")
        .x-widget-content 
          h1 Final Fantasy XII: The Zodiac Age
          p Coming Jul 11, 2017
          p PS4
          
      a(href='#').x-widget-item(style="background-image: url(https://i.ytimg.com/vi/BQtufVP10zI/maxresdefault.jpg)")
        .x-widget-content
          h1 Aven Colony
          p Coming Jul 25, 2017
          p PC, XONE, PS4
          
      a(href='#').x-widget-item(style="background-image: url(http://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_3ds_25/H2x1_3DS_HeyPikmin_image1280w.jpg)")
        .x-widget-content
          h1 Hey! PIKMIN
          p Coming Jul 28, 2017
          p 3DS

      a(href='#').x-widget-item(style="background-image: url(https://i.ytimg.com/vi/ol_hVq9N2D0/maxresdefault.jpg)")
        .x-widget-content
          h1 Dragon Quest XI
          p Coming Jul 29, 2017
          p 3DS, PS4

      a(href='#').x-widget-item(style="background-image: url(https://s3.amazonaws.com/nd.images/uploads/_blogPostImage/Uncharted_TheLostLegacy_Ferry_01.jpg)")
        .x-widget-content
          h1 Uncharted: The Lost
          p Coming Aug 22, 2017
          p PS4

  .sidebar-primary-content.x-google-ads
    .x-widget-primary
      a(href='#').x-widget-item
        .x-widget-content
            img(src='http://planetshine.net/demo/goodgame/wp-content/themes/planetshine-goodgame/theme/assets/images/banner-300x300.jpg')

      a(href='#').x-widget-item
        .x-widget-content
            img(src='http://planetshine.net/demo/goodgame/wp-content/themes/planetshine-goodgame/theme/assets/images/banner-300x300.jpg')