section.sidebar-primary.col-xs-12.col-sm-12.col-md-4.col-lg-4
  .sidebar-primary-content 
    .x-sidebar-title New update games
    .x-widget-primary
      a(href='#').x-widget-item
        .x-widget-content
          img(src='http://genknews.genkcdn.vn/2016/photo-0-1479374412821.png')
          .x-widget-title 
            h1 Watch Dogs 2
          
      a(href='#').x-widget-item
        .x-widget-content
          img(src='https://i.ytimg.com/vi/9xHPFbgUNVU/maxresdefault.jpg')
          .x-widget-title 
            h1 Tom Clancy's Ghost Recon Wildlands
          
      a(href='#').x-widget-item
        .x-widget-content
          img(src='https://torrentsgames.org/wp-content/uploads/2016/12/Nier-Automata-PC.jpg')
          .x-widget-title 
            h1 Nier: Automata

  .sidebar-primary-content 
    .x-sidebar-title Advertising
    .x-widget-primary
      a(href='#').x-widget-item
        .x-widget-content
            img(src='https://cdn.dribbble.com/users/348324/screenshots/1781809/aaaa.gif')

      a(href='#').x-widget-item
        .x-widget-content
            img(src='https://mir-s3-cdn-cf.behance.net/project_modules/disp/967c4f19961083.56370994f2068.gif')