doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug

      header.jumbotron.text-center
        h1 Action
        p Thể loại game hành động
      
      include includes/portfolio.pug 

      include includes/pagination.pug 
      
      include includes/foot_copy.pug
  
  script(src="js/custom.js")        
  script(src="js/jquery.shuffle.min.js")
  //script(src='http://masonry.desandro.com/masonry.pkgd.js')
  // script(src='http://imagesloaded.desandro.com/imagesloaded.pkgd.js') 
  // script(src='js/script.js') 
  // script(src='js/jquery.slides.min.js') 
  // script(src='js/TweenLite.min.js') 
  // script(src='js/EasePack.min.j') 
  // script(src='js/rAF.js') 
  // script(src='js/demo-3.js') js/smoothscroll/jquery.easeScroll.js 

	

  
