doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug
      
      //include modules/m_slick.pug
      section.main-content
        .gs-series-game.home-series-game.portfolio
          .home-owl-carousel.owl-carousel.owl-theme <!-- star owl carousel -->
            .item.sidebar-item.x-item(style="background-image: url(http://cdn.escapistmagazine.com/media/global/images/library/deriv/1386/1386473.jpg)")
              .box-post
                .z-thumb
                  img.img-responsive(src="../images/bag.png" alt="Item 1")
                  .btn-point 
                    .point-content
                      p.font-weight-bold 89
                .caption
                  .page-content.gs-content-game.gs-genre-game
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                  p.c-title 
                    a(href="http://localhost:3000/review-single-two.html") Nier: Automata
                  p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                  a(href="http://localhost:3000/review-single-two.html") 
                    .c-read-more.text-center Read more

            .item.sidebar-item.x-item(style="background-image: url(https://i.ytimg.com/vi/vZI2bh3cLKw/maxresdefault.jpg)")
              .box-post
                .z-thumb
                  img.img-responsive(src="../images/bag.png" alt="Item 1")
                  .btn-point 
                    .point-content
                      p.font-weight-bold 82
                .caption
                  .page-content.gs-content-game.gs-genre-game
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-xbox XBOX
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                  p.c-title 
                    a(href="#") Watch Dogs 2
                  p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                  a(href="#") 
                    .c-read-more.text-center Read more
            

            
              //include includes/pagination.pug 

            .item.sidebar-item.x-item(style="background-image: url(https://i.ytimg.com/vi/jl2xNWeujZs/maxresdefault.jpg)")
              .box-post
                .z-thumb
                  img.img-responsive(src="../images/bag.png" alt="Item 1")
                  .btn-point 
                    .point-content
                      p.font-weight-bold 96
                .caption
                  .page-content.gs-content-game.gs-genre-game
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-xbox XBOX
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                  p.c-title 
                    a(href="#") Grand Theft Auto V
                  p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                  a(href="#") 
                    .c-read-more.text-center Read more

            .item.sidebar-item.x-item(style="background-image: url(https://images2.alphacoders.com/600/thumb-1920-600255.jpg)")
              .box-post
                .z-thumb
                  img.img-responsive(src="../images/bag.png" alt="Item 1")
                  .btn-point 
                    .point-content
                      p.font-weight-bold 92
                .caption
                  .page-content.gs-content-game.gs-genre-game
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-xbox XBOX
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                  p.c-title 
                    a(href="#") The Witcher 3: Wild Hunt 
                  p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                  a(href="#") 
                    .c-read-more.text-center Read more

            .item.sidebar-item.x-item(style="background-image: url(https://images4.alphacoders.com/710/thumb-1920-710790.jpg)")
              .box-post
                .z-thumb
                  img.img-responsive(src="../images/bag.png" alt="Item 1")
                  .btn-point 
                    .point-content
                      p.font-weight-bold 90
                .caption
                  .page-content.gs-content-game.gs-genre-game
                    a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                  p.c-title 
                    a(href="#") Spiderman
                  p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                  a(href="#") 
                    .c-read-more.text-center Read more
          //include includes/sidebar-widget.pug
               
        section.news-container.news-show-container.container.home-reviews
          section.news-primary.news-show-primary.col-xs-12.col-sm-12.col-md-8.col-lg-8
            .related-primary.intro-review 
              .x-title-bar 
                ul
                  li.pa New Post
                  a(href="#")
                    li.pb View All
              .x-related-primary
                
                .x-related-item.x-intro-game
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/1556/15568848/3226985-1041069493-22820.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html').x-related-caption
                    h4 Mega Man 7, 8, 9, 10 Collection Leaked (Possibly)
                    span
                      i.fa.fa-user  
                      | Mr.D
                    span
                      i.fa.fa-calendar  
                      | 3/2/2018
                    p.descript Mega Man Legacy Collection 2 listed by Korean Ratings Board.

                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/MNOmxAw2Qag/hq720.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html').x-related-caption 
                    h4 Top 10 UK Sales Chart: Mario Kart 8 Deluxe Is Nintendo's First No.1 For Six Years
                    span
                      i.fa.fa-user  
                      | Mr.D
                    span
                      i.fa.fa-calendar  
                      | 3/2/2018
                    p.descript The Nintendo Switch port is the first Mario title to reach the top since 2008's Mario Kart Wii.

                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/1534/15343359/3220758-swbfii_reveal_screenshot_5_sp.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html').x-related-caption 
                    h4 Star Wars Battlefront 2 Deluxe Edition And Pre-order Bonuses
                    span
                      i.fa.fa-user  
                      | Mr.D
                    span
                      i.fa.fa-calendar  
                      | 3/2/2018
                    p.descript Along with a new trailer and story details, we also learned what you get if you pre-order the next Star Wars Battlefront.

                .x-related-item
                  .x-related-content
                    img(src='http://cdn.mos.cms.futurecdn.net/Hd3PU7xsBmubn6fyWMHbB9-650-80.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html').x-related-caption 
                    h4 Serious Metal Detecting is like DayZ, only with metal detecting
                    span
                      i.fa.fa-user  
                      | Mr.D
                    span
                      i.fa.fa-calendar  
                      | 3/2/2018
                    p.descript Detect metal seriously with a serious metal detector, in Serious Metal Detecting. Seriously.
                
                
              //include includes/pagination.pug 

            .related-primary 
              .x-title-bar 
                ul
                  li.pa PC
                  a(href="#")
                    li.pb View All
              .x-related-primary
                
                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

            .related-primary 
              .x-title-bar 
                ul
                  li.pa PS4
                  a(href="#")
                    li.pb View All
              .x-related-primary
                
                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-ps4 PS4
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

            .related-primary 
              .x-title-bar 
                ul
                  li.pa XBOX
                  a(href="#")
                    li.pb View All
              .x-related-primary
                
                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-xbox XBOX
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game 
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-xbox XBOX
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more   
          include includes/sidebar-widget.pug  
        
      include includes/foot_copy.pug

      script(src="js/custom.js")        
      