doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug
      section.main-content             
        section.news-container.news-show-container.container
          section.news-primary.news-show-primary.col-xs-12.col-sm-12.col-md-8.col-lg-8
            .related-primary 
              .xy-related-title PC
              include modules/m_flisk_news_index.pug
              

            .related-primary 
              .x-title-bar 
                ul
                  li.pa What's New
              .x-related-primary
                
                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/1534/15343359/3220758-swbfii_reveal_screenshot_5_sp.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Star Wars Battlefront 2 Deluxe Edition And Pre-order Bonuses
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript Along with a new trailer and story details, we also learned what you get if you pre-order the next Star Wars Battlefront.

                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/123/1239113/3227217-doom.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Check Out Bethesda's E3 Showcase Invite, Which May Tease Two Announcements
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript Bethesda has sent out invites for its E3 media briefing, and with it, some interesting artwork featuring the company's various franchises.

                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/1556/15568848/3226985-1041069493-22820.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption
                      h4 Mega Man 7, 8, 9, 10 Collection Leaked (Possibly)
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript Mega Man Legacy Collection 2 listed by Korean Ratings Board.

                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/MNOmxAw2Qag/hq720.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Top 10 UK Sales Chart: Mario Kart 8 Deluxe Is Nintendo's First No.1 For Six Years
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript The Nintendo Switch port is the first Mario title to reach the top since 2008's Mario Kart Wii.

                .x-related-item
                  .x-related-content
                    img(src='https://gamefly1.gameflycdn.com/uploads/scale_super/1552/15524586/2999837-xcom2-grenadier.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 XCOM Creator's Next Game Hits Crowdfunding Target, Stretch Goals Announced
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript $500,000 and counting.

                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/JOk_Zp3hFUE/hq720.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Zelda: Breath Of The Wild 2D Fan Project Shut Down, Will Continue In A New Form
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript Breath of the NES will drop the Zelda references and become an original game.

                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/Wymk-7dFPh0/maxresdefault.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Overwatch's Uprising Event Extended After Ending Too Early
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript "The mission ain't over yet!"

                .x-related-item
                  .x-related-content
                    img(src='http://cdn.mos.cms.futurecdn.net/Hd3PU7xsBmubn6fyWMHbB9-650-80.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Serious Metal Detecting is like DayZ, only with metal detecting
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript Detect metal seriously with a serious metal detector, in Serious Metal Detecting. Seriously.

                .x-related-item
                  .x-related-content
                    img(src='https://i1.wp.com/www.gamerpros.co/wp-content/uploads/2017/06/wolfenstein.jpeg?fit=1280%2C720&ssl=1')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 The first minutes of Wolfenstein 2: The New Colossus are excellent
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript The weird, inventive opening act gives us high hopes for BJ's American tour.

                .x-related-item
                  .x-related-content
                    img(src='http://cdn.mos.cms.futurecdn.net/DTe3gUWV3jTT6AZS6jVcEE.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Assassin’s Creed: Origins makes assassinations simpler and more creative
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript It’s not a total reinvention, but Origins gives the players more tools and motive to kill in cool ways than ever.
                      
                .x-related-item
                  .x-related-content
                    img(src='https://cdn.arstechnica.net/wp-content/uploads/2017/05/vlcsnap-2017-05-18-14h17m38s698.png')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Destiny 2 PC footage: 4K, 60 fps, and played with a mouse and keyboard
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript See Destiny 2 on PC, this time with our preferred input method.

                .x-related-item
                  .x-related-content
                    img(src='http://cdn.mos.cms.futurecdn.net/AeJJuCsKm5g3KPUY8nYqo.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 Hunt: Showdown is just incredible
                      span
                        i.fa.fa-user  
                        | Mr.D
                      span
                        i.fa.fa-calendar  
                        | 3/2/2018
                      p.descript Crytek's multiplayer survival game is reimagined with a gripping new vision.
              
              include includes/pagination.pug 
          include includes/sidebar-widget.pug
             
      include includes/foot_copy.pug

      script(src="js/custom.js")        
