doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug

      section.main-content
        section.news-container.container
          section.news-primary.single-news-primary.col-xs-12.col-sm-12.col-md-8.col-lg-8
            .news-content
              .page-header
                h1.news-title Star Wars Battlefront 2 Deluxe Edition And Pre-order Bonuses
                .news-meta
                  span
                    i.fa.fa-user  
                    | Mr.D
                  span
                    i.fa.fa-calendar  
                    | 3/2/2018
                  span
                    i.fa.fa-eye  
                    | 1000
                .news-share
                  i.fa.fa-facebook-f
                  i.fa.fa-twitter
                  i.fa.fa-google-plus
              .page-content
                p Star Wars Battlefront II's official trailer and story details were revealed during a panel today at Star Wars Celebration, but we also learned what pre-order bonuses EA has in store for the game.
                .embed-responsive.embed-responsive-16by9.o-embed
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/Kae-JjbLsgA" frameborder="0" allowfullscreen)
                p According to a listing from EA, "Every trooper class (Officer, Assault, Heavy, and Specialist) is upgraded, delivering superior firepower, deadly weapon modifications, and epic combat abilities." Here are the specifics of what this version will unlock:
                ul
                  li Access to play Star Wars Battlefront II on November 14--a 3-day head start
                  li Exclusive Kylo Ren- and Rey-themed looks, inspired by Star Wars : The Last Jedi (also in standard edition pre-order)
                  li An epic ability modifier for the Millennium Falcon (also in standard edition pre-order)
                p For pre-ordering the standard edition, players receive the last three items on the list above. The Deluxe Edition will retail for $80 while the standard edition runs for the standard $60.
                p It's not clear currently what the "epic ability modifiers" do nor what whether any of those modifiers will be available through normal play for gamers who purchase the game normally.
                p Star Wars Battlefront II is due for release on November 17 for PS4, Xbox One, and PC. And like other typical EA games, subscribers of EA and Origin Access will be able to try the game out starting on November 9.
              .page-footer
                .page-content.gs-content-game.gs-genre-game
                  i.fa.fa-tags(style="margin-right: 2px") 
                  | Tags: 
                  a(href="#").genre-tag.hvr-bounce-to-right Action
                  a(href="#").genre-tag.hvr-bounce-to-right Open World
                  a(href="#").genre-tag.hvr-bounce-to-right Park Out
                  a(href="#").genre-tag.hvr-bounce-to-right Comedy
                  a(href="#").genre-tag.hvr-bounce-to-right Sealth

            .related-primary 
              .x-title-bar 
                ul
                  li.pa PC Related Post
              .x-related-primary
                
                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/123/1239113/3227217-doom.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption Check Out Bethesda's E3 Showcase Invite, Which May Tease Two Announcements

                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/1556/15568848/3226985-1041069493-22820.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption Mega Man 7, 8, 9, 10 Collection Leaked (Possibly)

                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/MkO6P-WA_vY/maxresdefault.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption Everything we know about Call of Duty: WWII

                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/123/1239113/3227217-doom.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption Check Out Bethesda's E3 Showcase Invite, Which May Tease Two Announcements

                .x-related-item
                  .x-related-content
                    img(src='https://static.gamespot.com/uploads/screen_kubrick/1556/15568848/3226985-1041069493-22820.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption Mega Man 7, 8, 9, 10 Collection Leaked (Possibly)

                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/MkO6P-WA_vY/maxresdefault.jpg')
                    include includes/news-share.pug
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption Everything we know about Call of Duty: WWII

            .related-primary 
              .x-title-bar 
                ul
                  li.pa PC Comments
              .xx-related-primary(style="width:100%")
                .x-comment-box(style="background-color: gold; width: 100%; height: 100px")
                  

          include includes/sidebar-widget.pug
              
      include includes/foot_copy.pug
  
  script(src="js/custom.js")        
