doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug
      section.main-content
        header.review-game-page.jumbotron.text-center.review-index(style="background-image: url(../images/banner4.jpg); padding: 100px 0")
          .page-header
            h1.news-title PC
            p Reviews on PC games
            
        section.news-container.news-show-container.container.home-reviews
          section.news-primary.news-show-primary.col-xs-12.col-sm-12.col-md-8.col-lg-8
            .related-primary 
              .x-title-bar 
                ul
                  li.pa What's new
              .x-related-primary
                
                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more
                
                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more
              
                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more

                .x-related-item
                  .item.sidebar-item.x-item
                    .z-thumb
                      img.img-responsive(src="https://vanhienblog.com/wp-content/uploads/2017/04/tai-Nier-Automata.jpg" alt="Item 1")
                      include includes/news-share.pug
                      .btn-point 
                        .point-content
                          p.font-weight-bold 50
                    .caption
                      .page-content.gs-content-game.gs-genre-game
                        a(href="#").genre-tag.hvr-bounce-to-right.tag-pc PC
                      p.c-title Nier: Automata
                      p.c-dec Despite some minor annoyances, NieR: Automata is brilliant. It strikes the balance between RPG and action game unlike anything else in the genre. It’s a game you kind of have to meet halfway, with a story that gets more complex and interesting the more you prod at it. If you’re willing to commit, though, you’ll be rewarded.
                      //.c-read-more.text-center Read more
              include includes/pagination.pug 
          include includes/sidebar-widget.pug
             
      include includes/foot_copy.pug

      script(src="js/custom.js")        
