doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug
      
      //include modules/m_slick.pug
      section.main-content
        section.flisk-video(style="background-image: url(https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg)")
          .flisk-video-wrapper.container
            .fv-info.col-xs-12.col-sm-12.col-md-5.col-lg-5
              a(href="http://localhost:3000/video-single.html").x-related-caption 
                h3 E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
                p.descript Marvel's Spider-Man had a huge show at E3 this year with a spectacular new trailer. Even better: the PlayStation team went behind closed doors.
            .fv-video.col-xs-12.col-sm-12.col-md-7.col-lg-7
              .embed-responsive.embed-responsive-16by9.o-embed
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/K4zm30yeHHE" frameborder="0" allowfullscreen)
      
        section.news-container.news-show-container.home-news-show-container.container
          section.news-primary.news-show-primary.col-xs-12.col-sm-12.col-md-12.col-lg-12
            .related-primary 
              .x-title-bar 
                ul
                  li.pa Latest Videos
              .x-related-primary
                
                .x-related-item 
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
                       
                .x-related-item
                  .x-related-content
                    img(src='https://images3.alphacoders.com/790/thumb-1920-790900.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Injustice 2 - Official Sub-Zero Gameplay Trailer
                  
                .x-related-item
                  .x-related-content
                    img(src='https://www.dreadcentral.com/wp-content/uploads/2017/06/A-Plague-Tale-Innocence2-1.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption
                      h4 E3 2017: A Plague Tale: Innocence - Teaser Trailer
                     
                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/rXZYMVqwvDQ/maxresdefault.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Destiny 2 - PS4 Exclusive Content Trailer
           
                .x-related-item 
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
                       
                .x-related-item
                  .x-related-content
                    img(src='https://images3.alphacoders.com/790/thumb-1920-790900.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Injustice 2 - Official Sub-Zero Gameplay Trailer
                  
                .x-related-item
                  .x-related-content
                    img(src='https://www.dreadcentral.com/wp-content/uploads/2017/06/A-Plague-Tale-Innocence2-1.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption
                      h4 E3 2017: A Plague Tale: Innocence - Teaser Trailer
                     
                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/rXZYMVqwvDQ/maxresdefault.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Destiny 2 - PS4 Exclusive Content Trailer

                .x-related-item 
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
                       
                .x-related-item
                  .x-related-content
                    img(src='https://images3.alphacoders.com/790/thumb-1920-790900.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Injustice 2 - Official Sub-Zero Gameplay Trailer
                  
                .x-related-item
                  .x-related-content
                    img(src='https://www.dreadcentral.com/wp-content/uploads/2017/06/A-Plague-Tale-Innocence2-1.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption
                      h4 E3 2017: A Plague Tale: Innocence - Teaser Trailer
                     
                .x-related-item
                  .x-related-content
                    img(src='https://i.ytimg.com/vi/rXZYMVqwvDQ/maxresdefault.jpg')
                    .news-share
                      i.fa.fa-facebook-f
                      i.fa.fa-twitter
                      i.fa.fa-google-plus
                    .type-of-news
                      i.fa.fa-play
                  a(href='http://localhost:3000/news-single.html')
                    .x-related-caption 
                      h4 E3 2017: Destiny 2 - PS4 Exclusive Content Trailer
            include includes/pagination.pug
     
      include includes/foot_copy.pug

  script(src="js/custom.js")     