doctype html
html(lang='en')
  
  include includes/head_tag.pug

  body
    #wrapper
      
      include includes/nav_menu.pug
      
      //include modules/m_slick.pug
      section.main-content
        section.flisk-video.flisk-video-single(style="background-image: url(https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg)")
          .flisk-video-wrapper.container
            .fv-video.col-xs-12.col-sm-12.col-md-8.col-lg-8
              .embed-responsive.embed-responsive-16by9.o-embed
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/K4zm30yeHHE" frameborder="0" allowfullscreen)
            .fv-info.col-xs-12.col-sm-12.col-md-4.col-lg-4
              .sidebar-primary-content 
                .x-title-bar 
                  ul
                    li.pa Popular Videos
                .vi-widget-primary
                  a(href="#").x-video-item
                    .vi-thumb
                      img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .vi-caption
                      p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                  a(href="#").x-video-item
                    .vi-thumb
                      img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .vi-caption
                      p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                  a(href="#").x-video-item
                    .vi-thumb
                      img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .vi-caption
                      p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                  a(href="#").x-video-item
                    .vi-thumb
                      img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                    .vi-caption
                      p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
              
        section.news-container.news-show-container.container(style="padding-top: 10px")
          section.news-primary.news-show-primary.col-xs-12.col-sm-12.col-md-8.col-lg-8
            .related-primary 
              .video-single-content
                .x-related-caption 
                  h3 E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
                  .news-meta
                    span
                      i.fa.fa-user  
                      | Mr.D
                    span
                      i.fa.fa-calendar  
                      | 3/2/2018
                    span
                      i.fa.fa-eye  
                      | 1000
                  p.descript Marvel's Spider-Man had a huge show at E3 this year with a spectacular new trailer. Even better: the PlayStation team went behind closed doors.
                  .news-share
                    i.fa.fa-facebook-f
                    i.fa.fa-twitter
                    i.fa.fa-google-plus
                .x-title-bar 
                  ul
                    li.pa Comments
                .comments-box(style="border: 1px solid black; height: 200px;")
          section.sidebar-primary.col-xs-12.col-sm-12.col-md-4.col-lg-4
            .sidebar-primary-content 
              .x-title-bar 
                ul
                  li.pa Latest Videos
              .vi-widget-primary-lastest
                a(href="#").x-video-item
                  .vi-thumb
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                  .vi-caption
                    p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                a(href="#").x-video-item
                  .vi-thumb
                    img(src='https://cdn.eblnews.com/sites/default/files/styles/img_684x385/public/cover/2017-06/772one8fgzM.jpg?itok=5qPQQTVC')
                  .vi-caption
                    p New Releases: Crash Bandicoot N. Sane Trilogy, Danganronpa Another Episode, Breath Of The Wild DLC

                a(href="#").x-video-item
                  .vi-thumb
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                  .vi-caption
                    p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                a(href="#").x-video-item
                  .vi-thumb
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                  .vi-caption
                    p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                a(href="#").x-video-item
                  .vi-thumb
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                  .vi-caption
                    p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions

                a(href="#").x-video-item
                  .vi-thumb
                    img(src='https://i.ytimg.com/vi/aDPWDkdNLEc/maxresdefault.jpg')
                  .vi-caption
                    p E3 2017: Marvel's Spider-Man - PS4 Gameplay Impressions
                  
      include includes/foot_copy.pug

  script(src="js/custom.js")        
      