.btn-download
	background-color #eee
	padding 0
	margin-bottom 5px
	border-radius 0 
	border none

.icon-download
	list-style-type none
	padding 0
	margin 0
	li
		display inline-block
		cursor pointer
		//background-color #dfdfdf
		width 50px 
		height 50px
		margin 5px
		animation bounceIn 0.5s linear
		//animation-delay 0.25s
		//opacity 0
		//border-radius 50%
		//padding 5px
		img 
			width 100%
.tooltip.top .tooltip-inner 
	font-size 16px