.flisk-news-index
  .x-large
    a(href='#').xinner
     img(src="http://download.gamezone.com/uploads/image/data/1202927/persona-5.jpg")
     .x-feature-caption
      .x-feature-title 
        h2.light-text Persona 5 dev reports $5.12 million loss for their fiscal year 2017
        span
          i.fa.fa-user  
          | Mr.D
        span
          i.fa.fa-calendar  
          | 3/2/2018
  .x-small
    section.xitem
      a(href='#').xinner.xinner-b
        img( src="https://s-media-cache-ak0.pinimg.com/originals/84/9d/20/849d2014adfa35b670ee1296e185cc51.jpg")
        .x-feature-caption
          .x-feature-title 
            h3.light-text Let it Die shows off new Tower of Barbs area, next 4 Forcemen
            span
              i.fa.fa-user  
              | Mr.D
            span
              i.fa.fa-calendar  
              | 3/2/2018

    section.xitem
      a(href='#').xinner.xinner-b
        img( src="http://gamebomb.ru/files/galleries/001/f/f7/225564.jpg")
        .x-feature-caption
          .x-feature-title 
            h3.light-text Call Of Duty: WW2 Has Female Soldiers In Multiplayer
            span
              i.fa.fa-user  
              | Mr.D
            span
              i.fa.fa-calendar  
              | 3/2/2018