.navbar {
  padding: 15px 0;
  font-size: 14px;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}
.navbar > * {
  font-family: 'Questrial', sans-serif;
}
.navbar-right > li > a {
  color: darktext !important;
}
.navbar-nav li a:hover {
  color: boycoy !important;
  background-color: #f8f8f8;
}
.o-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.o-nav-menu .x-glyphicon {
  color: darktext;
}
.o-nav-menu .x-glyphicon:hover {
  color: boycoy;
}
.menu-toggle {
  display: none;
}
.menu-toggle,
.menu-search {
  padding-top: 17px;
  margin-left: 25px;
}
.navbar-brand {
  width: 20%;
  font-family: 'Aldrich', cursive;
  font-size: 30px;
  font-weight: bold;
}
.o-collapse {
  width: 80%;
}
/*.dropdown-menu li a 
	padding 10px 0 10px 15px
	transition all 0.25s
	font-weight bold */
.nav .open>a {
  background: #f8f8f8 !important;
  color: #f15d58 !important /*Ngon Oisi*/;
}
/*.nav > li.dropdown.open 
	position: static
	
.nav > li.dropdown.open .dropdown-menu 
	display table
	border none
	border-radius 0px
	width 100%
	left 0
	right 0*/
/*.dropdown-menu > li 
	display table-cell
	padding 5px 0*/
.searchbar {
  absolute: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f8f8f8;
}
.searchbox {
  width: 100%;
}
.close-search {
  width: 50px;
  text-align: center;
  padding-top: 17px;
}
#open-search,
#close-search {
  cursor: pointer;
}
input[name="search"] {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 767px) {
  #myNavbar {
    position: absolute;
    top: 100%;
    left: 15px;
    background-color: #f8f8f8;
    width: 100%;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
  }
  .menu-search,
  .menu-toggle {
    width: 50px;
    margin-left: 0px;
  }
  .menu-toggle {
    display: block;
    text-align: left;
  }
  .navbar-collapse {
    margin-top: 15px;
  }
  .menu-search {
    text-align: right;
  }
}
