.x-widget-item {
  padding: 0;
  margin-bottom: 5px;
}
.x-widget-content {
  height: 100%;
  width: 100%;
  background-color: rgba(29,39,43,0.7);
}
.x-sidebar-title,
.x-related-title {
  font-weight: bold;
  color: darktext;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  background-color: dteal;
}
.x-upcoming-games .x-widget-item {
  min-height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.x-upcoming-games .x-widget-item .x-widget-content {
  padding: 10px;
}
.x-upcoming-games .x-widget-item .x-widget-content > * {
  color: #fff;
  font-weight: bold;
}
.x-upcoming-games .x-widget-item .x-widget-content p {
  font-size: 12px;
}
.x-upcoming-games .x-widget-item .x-widget-content h1 {
  margin: 0;
  padding: 10px 0px;
  font-size: 20px;
}
.single-news-primary .news-content,
.single-news-primary .related-primary {
  margin-bottom: 25px;
}
.sidebar-primary-content {
  margin-bottom: 25px;
}
.x-google-ads .x-widget-item {
  width: 100%;
}
.x-google-ads .x-widget-content {
  padding: 40px 0;
  background-color: bg-box;
}
.x-google-ads .x-widget-content img {
  display: block;
  width: auto;
  margin: auto;
}
